
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage.cshtml";
}

@model List<TechnologyNews.Model.Option.Category>

<script src="~/Content/script/dataTables.bootstrap.min.js"></script>
<script src="~/Content/script/jquery.dataTables.min.js"></script>
<link href="~/Content/css/dataTables.bootstrap.min.css" rel="stylesheet" />


<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="/Admin/Home/Index"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="/Admin/Category/Add">Add Category</a></li>
        <li class="active">Category List</li>
    </ol>
</section>
<br />

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">List of Categories</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <td>Category Name</td>
                                <td>Description</td>
                                <td>Update</td>
                                <td>Delete</td>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Description</td>
                                    <td><a href="/Admin/Category/Update/@item.ID" type="button" class="btn btn-block btn-warning">Update</a></td>
                                    <td><a href="/Admin/Category/Delete/@item.ID" type="button" class="btn btn-block btn-danger">Delete</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    })
</script>

